*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ffffff;
}

body {
  color: #272727;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  font-family: "Roboto";
}
