.phones-container {
  padding-top: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.phone-card {
  background-color: blue;
  width: 30%;
  margin: 2px;
  padding: 2px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  size: 50px;
}
